.data-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  place-items: center;
  width: 100%;
  max-width: 50rem;
  place-content: center;
  overflow-y: auto;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
